/**
 * Portfolio styles
 * @author Chris Manning (chrismanningmedia at gmail dot com)
 */

body {
    background: rgb(240, 240, 240) url(../img/noise.png);
    color: rgb(80, 80, 80); 
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0 30px;
}

h1,
h2,
nav {
    font-family: 'Crete Round', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.8em;
    line-height: 1.1em;
}

h2 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: rgb(25, 144, 229);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wf-loading {
    visibility: hidden;
}

/**
 * Intro
 */

h1 > em {
    color: rgb(183, 183, 183);
    font-style: normal;
}

nav ul {
    padding-top: 15px;
}

nav a {
    display: block;
    margin: 0 0 10px;
}

/**
 * Work
 */

 .work {
    padding: 2em 0;
}

.tiles {
    overflow: hidden;
}

.tiles img {
    box-shadow: 0 10px 6px -6px rgb(222, 222, 222); 
    width: 100%;
}

.tiles > li {
    float: left;
    left: 0;
    margin: 0 10px 5px 0;
    position: relative;
    width: 275px;
}

.tiles.ready li {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.tiles > li > a {
    display: block;
}

.tiles > .flying {
    left: 2800px;
}

.more {
    display: none;
}

.more > img {
    float: left;
    margin-right: 10px;
}

#expanded {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#expanded .more {
    display: block;
}

/**
 * Media Queries
 */

@media (min-width: 1224px) {

    h1 {
        font-size: 3.4em;
        line-height: 1em;
    }

    h2 {
        font-size: 1.5em;
    }

}

@media (min-width: 960px) {

    .intro, .work {
        float: left;
    }

    .intro {
        margin-right: 2%;
        width: 23%;
    }

    .work {
        padding-top: 0;
        position: relative;
        top: 40px;
        width: 75%;
    }

}

/**
 * Typing Animation
 */

@-webkit-keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@-webkit-keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% { 
        border-color: rgb(0, 0, 0);
    }
}

@-moz-keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@-moz-keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(0, 0, 0);
    }
}

.monospace {
    float: left;
    font: normal 16px/20px 'Courier New', monospace;
    position: relative; 
}

.monospace .cursor {
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(0, 0, 0);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
}

.monospace .cursor {
    -webkit-animation: typing 4s steps(29, end), caret 1s step-end infinite;
    -moz-animation: typing 4s steps(29, end), caret 1s step-end infinite;
}
