/**
 * Portfolio styles
 * @author Chris Manning (chrismanningmedia at gmail dot com)
 */

body {
    font-family: 'Crete Round', 'Arial', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h1, 
h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    padding: 0 20px;
}

/**
 * Header/Nav
 */

.header-bar {
    background: rgb(255, 255, 255);
    box-shadow: 0px 3px 8px rgba(80, 80, 80, 0.1);
    color: rgb(80, 80, 80);
    margin-bottom: 40px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .header-bar .logo {
        float: left;
        min-width: 400px;
    }
    .header-bar nav {
        float: right;
        margin: 7px 20px 0 0;
    }
}

.header-bar h1,
.header-bar ul {
    line-height: 80px;
}

.header-bar h1 {
    background: url(http://placehold.it/30x30) no-repeat 0 center;
    float: left;
    padding-left: 40px;
}

.header-bar li {
    display: inline;
    margin-right: 40px;
}

.header-bar li:last-child {
    margin-right: 0;
}

.header-bar a {
    font-size: 18px;
}

.header-bar .monospace {
    left: 15px;
    top: 36px;
}

/**
 * Typing Animation
 */

@-webkit-keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@-webkit-keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% { 
        border-color: rgb(0, 0, 0);
    }
}

@-moz-keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@-moz-keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(0, 0, 0);
    }
}

.monospace {
    float: left;
    font: normal 16px/20px 'Courier New', monospace;
    position: relative; 
}

.monospace .cursor {
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(0, 0, 0);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
}

.monospace .cursor {
    -webkit-animation: typing 4s steps(29, end), caret 1s step-end infinite;
    -moz-animation: typing 4s steps(29, end), caret 1s step-end infinite;
}

/**
 * Tiles/Grid Layout
 */
.tiles {
    overflow: hidden;
    margin-left: -8px;
    padding-bottom: 40px;
}

.tiles img {
    width: 100%;
}

.tiles > li {
    float: left;
    left: 0;
    margin: 0 0 3px 8px;
    position: relative;
    width: 300px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.tiles > .flying {
    left: 2800px;
}

.zoom {
    background: rgb(255,255,255);
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
}
