/**
 * Portfolio styles
 * @author Chris Manning (chrismanningmedia at gmail dot com)
 */

body {
    background: rgb(240, 240, 240) url(../img/noise.png);
    color: rgb(80, 80, 80); 
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding: 0 60px;
}

h1,
h2,
nav {
    font-family: 'Crete Round', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: rgb(25, 144, 229);
    text-decoration: none;
}

.wf-loading {
    visibility: hidden;
}

/**
 * Header/Nav
 */

nav ul {
    padding-top: 15px;
}

nav a {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

@media (min-width: 960px) {
    nav {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav > ul {
        min-width: 160px;
    }
    nav a {
        background-color: rgb(247, 247, 247);
        border-bottom: 1px solid rgb(222, 222, 222);
        display: block;
        font-size: 20px;
        margin: 1px 0;
        padding: 10px 20px;
    }
    nav li:last-child > a {
        border: none;
    }
}

/**
 * Tiles/Grid Layout
 */
.tiles {
    border-top: 1px solid rgb(222, 222, 222);
    overflow: hidden;
    margin: 40px 0 0 -8px;
    padding: 40px 0;
}

.tiles img {
    box-shadow: 0 10px 6px -6px rgb(222, 222, 222); 
    width: 100%;
}

.tiles > li {
    float: left;
    left: 0;
    margin: 0 0 5px 10px;
    position: relative;
    width: 275px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.tiles > li > a {
    display: block;
}

.tiles > .flying {
    left: 2800px;
}

.zoom {
    background: rgb(255,255,255);
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
}

/**
 * Typing Animation
 */

@-webkit-keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@-webkit-keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% { 
        border-color: rgb(0, 0, 0);
    }
}

@-moz-keyframes typing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@-moz-keyframes caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(0, 0, 0);
    }
}

.monospace {
    float: left;
    font: normal 16px/20px 'Courier New', monospace;
    position: relative; 
}

.monospace .cursor {
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(0, 0, 0);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
}

.monospace .cursor {
    -webkit-animation: typing 4s steps(29, end), caret 1s step-end infinite;
    -moz-animation: typing 4s steps(29, end), caret 1s step-end infinite;
}
